{% extends 'blog/base.html' %}

{% block main_area %}

    <h1> 가게 상세 정보 </h1>

    <table class="table">
        <a role="button" class="btn btn-outline-primary my-4" href="/store">목록</a>
        <tbody>
        <tr>
            <th>가게 이름:</th>
            <td>{{ store.name }}</td>
        </tr>
        <tr>
            <th>시:</th>
            <td>{{ store.city.name }}</td>
        </tr>
        <tr>
            <th>구:</th>
            <td>{{ store.country.name }}</td>
        </tr>
        <tr>
            <th>분류:</th>
            <td>{{ store.industry.name }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}





