{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Create New Diary</h1>
    <hr/>

    <div>
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            <table>
                {{ form | crispy }}
            </table>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
    </div>

</body>
</html>

